@charset "UTF-8";
/* Agrega estilos específicos para la página de administrador */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Agrega estilos para el encabezado */
header {
    background-color: #ffdb58;
    padding: 20px;
    text-align: center;
}

/* Agrega estilos para el menú de navegación */
nav {
    background-color: #ffd700;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #c1e6c1;
    color: #333;
}

/* Agrega estilos para la sección de administrador */
.admin-section {
    flex-grow: 1; /* Esto permite que la sección crezca y ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/* Agrega estilos para la tabla de usuarios */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #c1e6c1;
}

/* Agrega estilos para el pie de página */
.footer {
    background-color: #ffdb58;
    padding: 20px;
    text-align: center;
    position: relative;
    margin-top: auto; /* Esto empujará el pie de página hacia abajo */
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer ul li a {
    text-decoration: none;
}

.footer ul li a img {
    width: 32px;
    height: auto;
}
