@charset "UTF-8";
/* Agrega estilos específicos para la página de administrador */
body {
    font-family: 'Courier New', monospace;
     font-size: 16px; 
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, nav, footer {
    background: rgb(0,255,220);
    background: -moz-linear-gradient(144deg, rgba(0,255,220,1) 0%, rgba(224,0,255,1) 100%);
    background: -webkit-linear-gradient(144deg, rgba(0,255,220,1) 0%, rgba(224,0,255,1) 100%);
    background: linear-gradient(144deg, rgba(0,255,220,1) 0%, rgba(224,0,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffdc",endColorstr="#e000ff",GradientType=1);
}


/* Agrega estilos para el encabezado */
header {
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin: 0 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #2ecc71;
}

nav .perfil-options {
    display: flex;
    align-items: center;
}

nav .perfil-options img {
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%; /* Hace que la imagen del perfil sea redonda */
}

nav .perfil-options .options {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    padding: 10px;
     right: 0;
}

nav .perfil-options:hover .options {
    display: block;
}

nav .perfil-options .options a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

nav .perfil-options .options a:hover {
    background-color: #2ecc71;
    color: #fff;
}

/* Agrega estilos para la sección de administrador */
.admin-section {
    flex-grow: 1; /* Esto permite que la sección crezca y ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/* Agrega estilos para la tabla de usuarios */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #c1e6c1;
}

/* Agrega estilos para el pie de página */
.footer {
    padding: 20px;
    text-align: center;
    position: relative;
    margin-top: auto; /* Esto empujará el pie de página hacia abajo */
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer ul li a {
    text-decoration: none;
}

.footer ul li a img {
    width: 32px;
    height: auto;
}
