@charset "UTF-8";

body {
    font-family: 'Courier New', monospace;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, nav, footer {
    background: rgb(0, 255, 220);
    background: -moz-linear-gradient(144deg, rgba(0, 255, 220, 1) 0%, rgba(224, 0, 255, 1) 100%);
    background: -webkit-linear-gradient(144deg, rgba(0, 255, 220, 1) 0%, rgba(224, 0, 255, 1) 100%);
    background: linear-gradient(144deg, rgba(0, 255, 220, 1) 0%, rgba(224, 0, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffdc", endColorstr="#e000ff", GradientType=1);
}

header {
    padding: 20px;
    text-align: center;
}

nav {
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #c1e6c1;
    color: #333;
}

.contenido-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.texto {
    flex: 0 0 calc(60% - 20px);
    text-align: left;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.texto h2 {
    margin-bottom: 10px;
}

.imagen-section {
    flex: 0 0 calc(30% - 20px);
}

.imagen-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.icon-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.icon {
    flex: 0 0 calc(30% - 20px);
    background-color: #fff;
    padding: 20px;
    margin: 0 10px 20px 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.icon img {
    width: 48px;
    height: auto;
    margin-bottom: 10px;
}

.contact-form {
    text-align: center;
    padding: 20px;
    background-color: #272727;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.contact-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #111;
    color: #fff;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #45a049;
}

footer {
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer ul li a {
    text-decoration: none;
}

footer ul li a img {
    width: 32px;
    height: auto;
}
