@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ffdb58;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #ffd700;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #c1e6c1;
    color: #333;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

article,
aside {
    flex: 0 0 calc(48% - 20px);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon {
    flex: 0 0 calc(24% - 20px);
    background-color: #fff;
    padding: 20px;
    margin: 0 10px 20px 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.icon img {
    width: 24px;
    height: auto;
    margin-bottom: 10px;
}

.footer {
    background-color: #ffdb58;
    padding: 20px;
    text-align: center;
    position: relative;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer ul li a {
    text-decoration: none;
}

footer ul li a img {
    width: 32px;
    height: auto;
}

